body {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 2em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
  background-color: #fff;
  width: 95%;
  min-width: 15em;
}

.childContainer {
  border-width: 0.2rem 0.2rem 0;
  border-radius: 8px 8px 0 0;
  padding: 1rem;
  margin: 1rem;
  border: 0.2rem solid #ececec;
}

.childContainer > .card {
  min-width: 12em;
  border: transparent;
}

/*.readOnlyMode {
  min-width: 30em;
}*/

input[readonly].plainView {
  background-color: #fff;
  border: none;
  font-size: 1em;
  background-image: none;
  border-color: none;
  box-shadow: none;
}

.list-group-item.borderless {
  border: 0 none;
  padding-top: 0.2em;
}

.list-group > div:first-child {
  font-weight: bold;
  font-size: 1.3em;
  padding-top: 1em;
}

.toolBar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  width: 95%;
  margin: 3px;
}

.usercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dadcdc;
  margin: auto;
  width: 55%;
  min-width: 35em;
  margin-top: 5%;
}

.customSpacing {
  width: 25%;
  margin: 10px;
}

.error {
  border-bottom: 1px solid #eb516d;
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 0;
  }
  /* .readOnlyMode {
    min-width: 25em;
  }*/
  .customSpacing {
    width: 50%;
    margin: 10px;
  }

  .usercontainer {
    width: 100%;
    margin-top: 0;
  }

  .flexParent {
    flex-wrap: wrap;
  }
  .button {
    display: block;
    width: 100%;
  }
  .toolBar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .toolBar .button {
    width: 100%;
    margin: 0;
  }
}